:root {
    --bg-light: #24b9f0;
    --bg-dark: #131722;
    --border-color: aquamarine;
}
body {
    background-color: var(--bg-dark);
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.cursor_pointer {
    cursor: pointer !important;
}

a:hover {
    color: var(--bg-light) !important;
}

a {
    color: white !important;
    text-decoration: none;
    transition: .4s color;
}

input {
    background-color: transparent !important;
    border: 1px solid rgba(255,255,255,.3) !important;
    color: white !important;
}

.owl-theme .owl-nav [class*=owl-] {
    background: var(--bg-light);
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: rgba(36, 185, 240 , 0.6);
}